<ion-header [translucent]="true" color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" [routerLink]="['/home']"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-row>
    <ion-col size="12" class="content__center">

      <ion-title class="ion-text-center logo">
        <img style="max-width: 250px; margin: 10px auto;" src="../assets/img/go-explore-logo-white.png">
      </ion-title>

      <form [formGroup]="validationForm" (ngSubmit)="LogIn()" class="login__form">

        <ion-card-subtitle class="subtitle">Login to your account</ion-card-subtitle>



        <ion-item class="login-form" lines="none">
          <ion-label style="color: #5B6F7D;" position="floating">Email</ion-label>
          <ion-input formControlName="Email" type="email">
          </ion-input>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation 
                                    of validationMessages.Email">
            <div class="error-message" *ngIf="validationForm.get('Email')
                     .hasError(validation.type) 
                     && (validationForm.get('Email').dirty 
                     || validationForm.get('Email').touched)">
              <ion-icon name="flash"></ion-icon>
              {{ validation.message }}
            </div>
          </ng-container>
        </div>


        <ion-item class="login-form" lines="none">
          <ion-label style="color: #5B6F7D;" position="floating">Password</ion-label>
          <ion-input formControlName="Password" type="Password" required></ion-input>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation 
                                    of validationMessages.Password">
            <div class="error-message" *ngIf="validationForm.get('Password')
                     .hasError(validation.type) 
                     && (validationForm.get('Password').dirty 
                     || validationForm.get('Password').touched)">
              <ion-icon name="flash"></ion-icon>
              {{ validation.message }}
            </div>
          </ng-container>
        </div>


        <ion-row>
          <ion-col class="login-bt">
            <ion-button type="submit" color="light" expand="block" routerDirection="root"
              [disabled]="!validationForm.valid">
              Log in</ion-button>
          </ion-col>
        </ion-row>

      </form>

      <h5><span>- Or sign in with -</span></h5>

      <ion-row class="social__section">
        <ion-col size="4" class="sign-up">
          <ion-button [routerLink]="['/registration']" expand="block" class="social__icon icon__google">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="sign-up">
          <ion-button [routerLink]="['/registration']" expand="block" class="social__icon icon__facebook">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="sign-up">
          <ion-button [routerLink]="['/registration']" expand="block" class="social__icon icon__apple">
            <ion-icon name="logo-apple"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-card-subtitle class="subtitle">Don't have account? <a [routerLink]="['/registration']" class="link">Sign Up</a>
  </ion-card-subtitle>



</ion-content>