<app-header [title]="title"></app-header>


<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center profileHeaderTitle">PROFILE</ion-title>
    <ion-img [routerLink]="['../tab1']" class="headerBackArrow" src="../assets/icon/arrowLeft.png"></ion-img>
    <ion-img class="headerDomkirkeIcon" src="../assets/icon/domkirkerGraphic.png"></ion-img>
    <ion-img class="headerGearIcon" src="../assets/icon/gearsIcon.png"></ion-img>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <!-- Profile image upload (temp løsning med billede) -->
  <!-- <ion-img class="pfpPlaceholder" src="../assets/img/pfpPlaceholder.png"></ion-img> -->
  <ion-img class="pfpPlaceholder" [src]='image' alt="Place image title"></ion-img>
  <div style="margin-left: 7.5rem; margin-top: 1rem;">
    <input type="file" (change)="onFileChange($event)" />
  </div>
  <ion-button style="max-width: 50%; margin: 10px auto;" expand="block" (click)="submitForm()">Upload picture</ion-button>



  <!-- Level container & sub items (Raw HTML) -->
    <div class="levelContainer">

      <div class="levelDisplay">
        <p>LEVEL <b>11</b> <img class="levelSparkles" src="../assets/icon/sparkles-icon.svg"></p>
      </div>

      <div class="pointsLevel">
        <p>
          867/1000 pts.
        </p>
        <p>
          LEVEL <b>12</b>
        </p>
      </div>

      <div class="levelSlider">
        <img class="levelSliderGraphic" src="../assets/img/levelSlider.png">
      </div>

    </div>
    

  <!-- Username / password -->
    <ion-title class="ion-text-center userPassTitle">Username: <b>{{ username }}</b></ion-title>

    <ion-title class="ion-text-center userPassTitle">Password: <b>********</b><u class="changeTxt">Change</u></ion-title>


  <!-- Badges & achivements -->
    <ion-title class="ion-text-center achieveTitle">BADGES & ACHIEVEMENTS</ion-title>

    <!-- <ion-img class="badgesIcon" src="../assets/icon/badge-icon-green.png"></ion-img> -->
    <ion-img class="badgesIcon" [src]='badge_image' alt="basic badge image"></ion-img>


  <!-- Last visited locations -->
    <ion-title class="ion-text-center locationTitle">LAST VISITED LOCATIONS</ion-title>

    <ion-img [routerLink]="['../tab1']" class="lastLocationImages" src="../assets/img/last-locations-images.png"></ion-img>


  <!-- Privacy Policies / Logout -->
    <ion-title class="ion-text-center finePrintText">Privacy Policies</ion-title>
    
    <ion-title [routerLink]="['../../home']" class="ion-text-center finePrintText" style="margin-bottom: 15px;">Logout</ion-title>

</ion-content>