<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" [routerLink]="['/home']"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Back</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-row>
    <ion-col style="margin:0 16px;">
      <h1>Sign Up</h1>
      <h2>Create an account so that you can save places and earn reward point on scanning QR on that
        locations.</h2>
    </ion-col>
  </ion-row>


  <form [formGroup]="validationForm" (ngSubmit)="LogIn()">

    <ion-row>
      <ion-col size="12">
        <ion-item class="input__item" lines="none" color="goexplore-input-background">
          <ion-label position="stacked">Username</ion-label>
          <ion-input formControlName="Username" type="Username"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation 
                                    of validationMessages.Username">
            <div class="error-message" *ngIf="validationForm.get('Username')
                     .hasError(validation.type) 
                     && (validationForm.get('Username').dirty 
                     || validationForm.get('Username').touched)">
              <ion-icon name="flash"></ion-icon>
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-item class="input__item" lines="none" color="goexplore-input-background">
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="Email" type="email"></ion-input>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation 
                                  of validationMessages.Email">
            <div class="error-message" *ngIf="validationForm.get('Email')
                   .hasError(validation.type) 
                   && (validationForm.get('Email').dirty 
                   || validationForm.get('Email').touched)">
              <ion-icon name="flash"></ion-icon>
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-item class="input__item" lines="none" color="goexplore-input-background">
          <ion-label position="stacked">Password</ion-label>
          <ion-input formControlName="Password" type="password"></ion-input>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation 
                                of validationMessages.Password">
            <div class="error-message" *ngIf="validationForm.get('Password')
                 .hasError(validation.type) 
                 && (validationForm.get('Password').dirty 
                 || validationForm.get('Password').touched)">
              <ion-icon name="flash"></ion-icon>
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

      </ion-col>

      <ion-col size="12">
        <ion-item class="input__item" lines="none" color="goexplore-input-background">
          <ion-label position="stacked">Re-Type password</ion-label>
          <ion-input formControlName="Password" type="password"></ion-input>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation 
                                  of validationMessages.Password">
            <div class="error-message" *ngIf="validationForm.get('Password')
                   .hasError(validation.type) 
                   && (validationForm.get('Password').dirty 
                   || validationForm.get('Password').touched)">
              <ion-icon name="flash"></ion-icon>
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>

      <ion-col size="12">
        <ion-item class="input__item" lines="none" color="goexplore-input-background">
          <ion-checkbox checked="" formControlName="Terms" color="primary"></ion-checkbox>
          <ion-text color="primary">&nbsp;&nbsp; I accept the <u>Privacy Policy</u> and <u>Terms</u>.</ion-text>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation 
                                                    of validationMessages.Terms">
            <div class="error-message" *ngIf="validationForm.get('Terms')
                                     .hasError(validation.type) 
                                     && (validationForm.get('Terms').dirty 
                                     || validationForm.get('Terms').touched)">
              <ion-icon name="flash"></ion-icon>
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>

      <ion-col class="signup-bt" size="12">
        <ion-button type="submit" color="primary" expand="block" routerDirection="root"
          [disabled]="!validationForm.valid">
          Sign Up</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>