.logo {
  margin: 10%;
}

.signup-bt {
  padding: 0 20px;
  ion-button {
    margin: auto;
  }
}

ion-input {
  border: 1px solid var(--ion-color-light-shade);
  margin-top: 10px;
  border-radius: 4px;
  background-color: #ffffff;

}

.checkbox {
  display: flex;
  justify-content: center;
}

.sc-ion-input-md-h {
  padding: 4px 8px !important;
}
.validation-errors {
  color: #eb445a;
  width: 75%;
  margin: auto;
  padding: 5px 0;
}

ion-toolbar {
  padding: 0 8px;
}

.login-form {
  max-width: 75%;
  margin: auto;
  --background: #fff;
  margin-bottom: 5px;
  border-radius: 8px;
}

ion-toolbar {
  padding: 0 16px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

