.logo {
  margin: 10%;
}

.login-bt {
  max-width: 75%;
  margin: 8px auto;
  padding: 0 !important;
}

ion-button {
  height: 48px;
}

.login__form {
  margin-top: 48px;
}

.checkbox {
  display: flex;
  justify-content: center;
}

.validation-errors {
  color: #eb445a;
  width: 75%;
  margin: auto;
  padding: 5px 0;
}

ion-toolbar {
  padding: 0 8px;
}

.login-form {
  max-width: 75%;
  margin: auto;
  --background: #fff;
  margin-bottom: 5px;
  border-radius: 8px;
}

.terms{
  max-width: 82%;
  margin: auto;
}