.logo {
  margin: 10%;
}

.signup-bt {
  padding: 0 20px;
  ion-button {
    margin: auto;
  }
}

ion-input {
  border: 1px solid var(--ion-color-light-shade);
  margin-top: 10px;
  border-radius: 4px;
  background-color: #ffffff;
}

.checkbox {
  display: flex;
  justify-content: center;
}

.sc-ion-input-md-h {
  padding: 4px 8px !important;
}

.validation-errors {
  color: #eb445a;
  margin: 4px 16px;
}

h1 {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  text-align: left;
  color: #333333;
}

h2 {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: var(--ion-color-primary);
}

ion-toolbar {
  padding: 0 16px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}
