ion-content {
    position: relative;
    top: 5%;
  }

.welcome{
    font-weight: bold;
}

.login-form {
    @media screen and (min-width: 768px){
        max-width: 50%;
        margin: auto;
        border: 5px solid var(--ion-color-goexplore-green);
        border-radius: 14px;
        margin-bottom: 10px;
    }
}

form{
    margin: 20% 0;
}

p{
    font-size: 18px;
}

ion-button {
        max-width: 65%;
        margin: auto;
        margin-bottom: 10px;
}

h5 {
    width: 85%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 20px auto;
 }

 h5 span {
     background:var(--ion-color-goexplore-white);
     padding:0 10px;
 }

 .icons{
   height: 100%;
   img{
  padding: 2px;
 }
}
