# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# HOW TO USE COMPODOC: 
# npm i -g @compodoc/compodoc
# compodoc -p src/tsconfig.json
# compodoc -s
# http://127.0.0.1:8080

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/documentation