<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-sharp" [routerLink]="['/sign-in']"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center profileHeaderTitle">PROFILE</ion-title>
    <ion-img class="headerDomkirkeIcon" src="../assets/icon/domkirkerGraphic.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Level container & sub items (Raw HTML) -->
  <div class="levelContainer">

    <ion-title class="ion-text-center userPassTitle"><b>{{ username }}</b></ion-title>
    <div class="levelDisplay">
      <p>LEVEL <b>11</b> <img class="levelSparkles" src="../assets/icon/sparkles-icon.svg"></p>
    </div>

    <div class="pointsLevel">
      <p>
        867/1000 pts.
      </p>
      <p>
        LEVEL <b>12</b>
      </p>
    </div>

    <div class="levelSlider">
      <img class="levelSliderGraphic" src="../assets/img/levelSlider.png">
    </div>

  </div>

  <div class="profile__section">
    <!-- Profile image upload (temp løsning med billede) -->
    <!-- <ion-img class="pfpPlaceholder" src="../assets/img/pfpPlaceholder.png"></ion-img> -->
    <ion-img class="pfpPlaceholder" [src]='image' alt="Place image title"></ion-img>
    <div style="margin-left: 7.5rem; margin-top: 1rem;">
      <input type="file" (change)="onFileChange($event)" />
    </div>
    <ion-button color="light" style="max-width: 50%; margin: 10px auto;" expand="block" (click)="submitForm()">Upload
      picture
    </ion-button>
  </div>

  <!-- Badges & achivements -->
  <ion-title class="ion-text-center achieveTitle">BADGES & ACHIEVEMENTS</ion-title>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>BADGES & ACHIEVEMENTS</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="badges">
      <ng-container *ngFor="let image of images">
        <img src='{{ "../assets/badges/" + image }}'>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <!-- Last visited locations -->
  <ion-title class="ion-text-center locationTitle">LAST VISITED LOCATIONS</ion-title>

  <!-- <ion-img [routerLink]="['../tab1']" class="lastLocationImages" src="../assets/img/last-locations-images.png">
  </ion-img> -->

  <ion-row class="last__visited__locations">
    <!--           should iterate via loop when fetching visited location-->
    <ion-col size="3">
      <ion-img [routerLink]="['../tab1']" class="lastLocationImages" src="../assets/img/museum.png"></ion-img>
    </ion-col>
    <ion-col size="3">
      <ion-img [routerLink]="['../tab1']" class="lastLocationImages" src="../assets/img/jars.png"></ion-img>
    </ion-col>
    <ion-col size="3">
      <ion-img [routerLink]="['../tab1']" class="lastLocationImages" src="../assets/img/cathedral.png"></ion-img>
    </ion-col>
    <ion-col size="3">
      <ion-img [routerLink]="['../tab1']" class="lastLocationImages" src="../assets/img/lake.png"></ion-img>
    </ion-col>
  </ion-row>

  <div class="footer">
    <!-- Privacy Policies / Logout -->
    <ion-title class="ion-text-center finePrintText">Privacy Policies</ion-title>

    <ion-title [routerLink]="['../../home']" class="ion-text-center finePrintText" style="margin-bottom: 15px;">Logout
    </ion-title>

  </div>

</ion-content>