// Header Styling
#background-content {
  --background: var(--ion-background-primary) !important;
}

.profileHeaderTitle {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
  margin: 25px 15px 25px auto;
}

ion-toolbar {
  --background: var(--ion-background-primary);
  color: rgb(255, 255, 255);
  padding: 0 8px;
  font-size: 30px;
}

.headerDomkirkeIcon {
  height: 50px;
  position: fixed;
  right: 100px;
  bottom: 12px;
}

.headerBackArrow {
  height: 30px;
  position: fixed;
  left: 20px;
  bottom: 25px;
}

.headerGearIcon {
  height: 30px;
  position: fixed;
  right: 20px;
  bottom: 25px;
}

// Profile picture styling
.pfpPlaceholder {
  max-width: 200px;
  height: auto;
  margin: 15px auto 0 auto;
  border-top-left-radius: 105px;
  border-top-right-radius: 143px;
  border-bottom-left-radius: 156px;
  border-bottom-right-radius: 101px;
  overflow: hidden;
}

// Level container and sub items styling
.levelContainer {
  color: var(--ion-color-goexplore-green);
  height: auto;
  padding-bottom: 14px;
  max-width: 700px;
  display: block;

  .levelDisplay {
    display: flex;
    align-items: center;

    .levelSparkles {
      height: 30px;
      vertical-align: top;
      margin-left: 7px;
    }

    p {
      font-size: 28px;
      margin: 5px auto;
      display: block;
      color: var(--ion-color-goexplore-green);
    }
  }

  .pointsLevel {
    display: flex;
    // padding-bottom: 10px;

    p {
      margin: 0 auto;
      font-size: 14px;
      color: var(--ion-color-goexplore-green);
    }
  }

  .levelSlider {
    .levelSliderGraphic {
      margin: 0 auto;
      display: block;
    }
  }
}

.userPassTitle {
  font-size: 28px;
  font-weight: 400;
  padding: 10px 0;
  text-transform: uppercase;
}

.changeTxt {
  color: var(--ion-color-goexplore-green);
  font-size: 14px;
  margin-left: 15px;
  vertical-align: middle;
}

.achieveTitle {
  padding: 10px 0;
  font-size: 25px;
  font-weight: bold;
  background: var(--ion-background-primary);
  color: #fff;
}

.badges {
  background: #fff;
  padding: 5px 0;
}

.badgesIcon {
  max-width: 10%;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  border-bottom: black solid 2px;
  padding-bottom: 20px;
}

.locationTitle {
  padding: 10px 0;
  font-size: 25px;
  font-weight: bold;
  background: var(--ion-background-primary);
  color: #fff;
}

.lastLocationImages {
  display: block;
  margin: 0 auto;
}

.last__visited__locations {
  background: var(--ion-background-primary);
  color: #fff;
  border-bottom: #fff solid 2px;
  padding: 0 24px;
}

.footer {
  background: var(--ion-background-primary);
  color: #fff;
  padding: 35px 0;
}

.finePrintText {
  font-size: 15px;
  text-decoration: underline;
  color: #ffffff;
}

.profile__section {
  background: var(--ion-background-primary);
  padding: 10px 0;
  color: #ffffff;
}

.badges {
  img {
    width: 25%;
  }
}
ion-img {
  width: fit-content;
  margin: auto;
}
